<section id="sobre" class="about-ambiente" data-aos="fade-up">
  <div class="about-container">

    <div class="about-left" data-aos="fade-up" data-aos-delay="100">
      <h2 data-i18n="about_title">O Game Dev Quest é um circuito competitivo voltado para equipes multidisciplinares que buscam aprimorar e/ou
        desenvolver jogos independentes.</h2>
    </div>

    <div class="about-divider" data-aos="zoom-in" data-aos-delay="150">
      <img src="{{asset 'images/game.png'}}" alt="Divisor G" class="letter-g">
    </div>

    <div class="about-right" data-aos="fade-up" data-aos-delay="200">
      <ul class="about-features">
        <li data-aos="fade-up" data-aos-delay="300">
          <span class="icon">
            <img src="{{asset 'images/bulletgame.png'}}" alt="Ícone do projeto">
          </span>
          <p data-i18n="about_feature_1">O projeto visa impulsionar a criação de um polo de jogos na Paraíba.</p>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <span class="icon">
            <img src="{{asset 'images/bulletgame.png'}}" alt="Ícone de programadores">
          </span>
          <p data-i18n="about_feature_2">Destinado a Programadores, designers, artistas, músicos, escritores e outros entusiastas de jogos indie do
            Brasil.</p>
        </li>
        <li data-aos="fade-up" data-aos-delay="500">
          <span class="icon">
            <img src="{{asset 'images/bulletgame.png'}}" alt="Ícone da seleção">
          </span>
          <p data-i18n="about_feature_3">A seleção das equipes participantes do circuito aconteceu por meio do edital nº 55/2024, SECTIES em
            parceria com a FAPESQ/PB.</p>
        </li>
        <li data-aos="fade-up" data-aos-delay="600">
          <span class="icon">
            <img src="{{asset 'images/bulletgame.png'}}" alt="Ícone do circuito">
          </span>
          <p data-i18n="about_feature_4">O circuito acontece entre janeiro e julho de 2025, sendo dividido em fases eliminatórias.</p>
        </li>
      </ul>
    </div>

  </div>
</section>
