{{#if isSecondary}}
{{#foreach navigation}}
<li class="nav-{{slug}}" role="menuitem">
    <a href="{{url}}">{{slug}}</a>
</li>
{{/foreach}}
{{else}}
<nav class="navbar">
    <div class="navbar-container">
        <a href="{{@site.url}}">
            <img src="{{asset 'images/pbsf.png'}}" alt="logo Paraíba sem Fronteiras" class="img-pbsf">
        </a>

        <div class="navbar-link">
            <div class="dropdown">
                <a href="#sobre" class="dropdown-toggle">O Programa <span class="arrow">&#9660;</span></a>
                <div class="dropdown-menu">
                    <a href="{{@site.url}}/#sobre">Sobre o Programa</a>
                    <a href="{{@site.url}}/#qualiexporta">Projeto QualiExporta PBsF</a>
                    <a href="{{@site.url}}/#linci">Projeto SISCOP</a>
                    <a href="{{@site.url}}/#documentos">Documentos</a>
                    <a href="{{@site.url}}/#contatos">Contato</a>
                </div>
            </div>
            <ul class="menu-list">
                {{#foreach navigation}}
                <li><a href="{{url}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
        </div>
    </div>
</nav>


<!-- Menu Sanduíche Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-dropdown">
        <a href="#" class="sidebar-link" onclick="toggleSubmenu()">O Programa</a>
        <div class="submenu">
            <a href="{{@site.url}}/#sobre" class="sidebar-suspended">Sobre o Programa</a>
            <a href="{{@site.url}}/#qualexporta" class="sidebar-suspended">Projeto QualiExporta PBsF</a>
            <a href="{{@site.url}}/#linci" class="sidebar-suspended">Projeto SISCOP</a>
            <a href="{{@site.url}}/#documentos" class="sidebar-suspended">Documentos</a>
            <a href="{{@site.url}}/#contatos" class="sidebar-suspended">Contato</a>
        </div>
    </div>

    <ul class="menu-list">
        {{#foreach navigation}}
        <li><a href="{{url}}" class="sidebar-link">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>

{{/if}}