<section class="support-section">

    <!-- Apoio -->
    <div class="support">
        <h2>APOIO</h2>
        <div class="support-row">
            <img src="{{asset '/images/LogoMinsait.png'}}" alt="Support 1" class="support-img">
            <img src="{{asset '/images/LogoNuuvem.png'}}" alt="Support 2" class="support-img">
        </div>
    </div>

    <!-- Parceiros -->
    <div class="partners">
        <h2>PARCEIROS</h2>
        <div class="partners-row">
            <img src="{{asset '/images/logoancine1.png'}}" alt="Partner 1" class="partner-img">
            <img src="{{asset '/images/LogoParquetecnologico.png'}}" alt="Partner 2" class="partner-img">
            <img src="{{asset '/images/logoSebrae.png'}}" alt="Partner 3" class="partner-img">
        </div>
    </div>

</section>