<section id="apoio" class="support-section-vertical">

  <div class="support-column">
    <h2>Patrocínio</h2>
    {{#if @custom.logo_patrocinio_1}}
      <div class="logo-box destaque bg-black">
        <img src="{{@custom.logo_patrocinio_1}}" alt="Patrocínio 1" class="support-img">
      </div>
    {{/if}}
    {{#if @custom.logo_patrocinio_2}}
      <div class="logo-box bg-black">
        <img src="{{@custom.logo_patrocinio_2}}" alt="Patrocínio 2" class="support-img">
      </div>
    {{/if}}
  </div>

  <div class="support-column">
    <h2>Apoio</h2>
    {{#if @custom.logo_apoio_1}}
      <div class="logo-box destaque bg-white">
        <img src="{{@custom.logo_apoio_1}}" alt="Apoio 1" class="support-img">
      </div>
    {{/if}}
    {{#if @custom.logo_apoio_2}}
      <div class="logo-box bg-white">
        <img src="{{@custom.logo_apoio_2}}" alt="Apoio 2" class="support-img">
      </div>
    {{/if}}
    {{#if @custom.logo_apoio_3}}
      <div class="logo-box bg-white">
        <img src="{{@custom.logo_apoio_3}}" alt="Apoio 3" class="support-img">
      </div>
    {{/if}}
  </div>

  <div class="support-column">
    <h2>Parceiros</h2>
    {{#if @custom.logo_parceiro_1}}
      <div class="logo-box  destaque bg-gray">
        <img src="{{@custom.logo_parceiro_1}}" alt="Parceiro 1" class="partner-img">
      </div>
    {{/if}}
    {{#if @custom.logo_parceiro_2}}
      <div class="logo-box bg-gray">
        <img src="{{@custom.logo_parceiro_2}}" alt="Parceiro 2" class="partner-img">
      </div>
    {{/if}}
    {{#if @custom.logo_parceiro_3}}
      <div class="logo-box bg-gray">
        <img src="{{@custom.logo_parceiro_3}}" alt="Parceiro 3" class="partner-img">
      </div>
    {{/if}}
  </div>

</section>
